* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Staatliches";
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: #096A61;
    min-height: 100px;
    align-content: center;
    color: white;
}

.head-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 25%;
}

.menu {
    width: 50%;
}

ul a {
    color: white;
    text-decoration: none;
}

.socials {
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.fa-brands {
    font-size: 20px;
}

.logo img {
    width: 130px;
    height: 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu li {
    font-size: 16px;
    font-weight: 500;
}

.hero {
    color: white;
    background-color: #096A61;
    margin-bottom: 100px;
}

.hero-flex {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    padding: 150px 0px 70px 0px;
}

.image img {
    width: 377px;
    height: 610px;
}

.hero-text h3 {
    font-size: 24px;
}

.hero h1 {
    font-size: 120px;
}

.hero-text img {
    margin: 20px 0px;
}

.hero-text p {
    font-size: 22px;
    color: #3c3939;
}

.image {
    background-color: #FDD746;
    border-radius: 200px;
    position: absolute;
    left: 53%;
    top: 70%;
    transform: translate(-50%, -50%);
}

.image img {
    border-radius: 182px;
}

.hero-text h5 {
    font-size: 20px;
}

.skill {
    font-size: 35px;
    color: #FDD746;
}

.animated {
    white-space: Pre;
}

.details {
    text-align: right;
}

.details h4 {
    font-size: 40px;
}

.details h2 {
    font-size: 70px;
}

.card {
    padding: 45px 30px;
    border: 1.5px solid #3c3939;
    border-radius: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 180px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.button button:hover {
    background-color: #096A61;
    color: white;
}

.card img {
    width: 60px;
    height: 60px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 700;
}

.card h5 {
    font-size: 30px;
    color: #3c3939;
}

.brands {
    padding: 200px 0px;
}

.card:hover {
    transform: scale(1.1);
    background-color: #096A61;
    color: white;
    box-shadow: 0px 50px 100px 0px rgba(9, 106, 97, 0.5) !important;
    border: none;
}

.projects img {
    width: 556px;
    border-radius: 50px;
    height: 556px;
    transition: .3s all ease-in-out;
}

.latest {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.laptop {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects img:hover {
    transform: scale(1.1);
    filter: brightness(0.4);
}

.education h2 {
    text-align: center;
    font-size: 45px;
    margin: 50px 0px;
}

.education span {
    color: #096A61;
}

.left p {
    color: #096A61;
    font-size: 20px;
}

.left {
    width: 132px;
}

button {
    cursor: pointer;
}

.right p {
    color: #3c3939;
    font-weight: 300;
    padding-top: 10px;
}

.socials a {
    color: white;
}

.data {
    display: flex;
    margin-top: 20px;
}

.left {
    width: 130px;
}

.ed-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ux {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button button {
    padding: 15px 40px;
    font-size: 17px;
    color: #096A61;
    background-color: #fbfcfc;
    border-radius: 12px;
    border: none;
    transition: .3s all ease-in-out;
}

.services {
    padding: 100px 0px;
}

.services h2 {
    font-size: 45px;
}

.design {
    display: flex;
    gap: 30px;
    padding: 70px 0px;
}

.ui {
    padding: 70px 50px;
    border-radius: 20px;
    border: 1.5px solid #3c3939;
    transition: .3s all ease-in-out;
}

.ui img {
    width: 80px;
    height: 80px;
}

.ui h3 {
    font-size: 35px;
    margin: 20px 0px;
}

.ui:hover {
    background-color: #192C27;
    color: white;
    transform: scale(1.04);
}

.images {
    display: flex;
    justify-content: space-between;
}

.images img {
    width: 100px;
    height: 76px;
    opacity: .5;
    transition: .3s all ease-in-out;
}

.images img:hover {
    opacity: 1;
}

.sponsers {
    padding: 0px 0px 100px 0px;
}

.talk {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.up,
.up img {
    width: 500px;
    height: 500px;
}

.up {
    background-color: #FDD746;
    border-radius: 50%;
    margin-top: 120px;
    position: relative;
    left: -5%;
}

.up img {
    border-radius: 50%;
}

.round {
    background-color: #F2F7F6;
    padding: 100px 0px;
}

.idea {
    display: flex;
    justify-content: center;
}

.talk h2 {
    font-size: 45px;
    margin: 20px 0;
}

.talk button {
    padding: 15px 45px;
    border: none;
    color: white;
    font-size: 20px;
    background-color: #096A61;
    border-radius: 12px;
}

.footer {
    background-color: #F2F7F6;
}

.ftr-logo {
    padding: 70px 0px;
    display: flex;
    justify-content: center;
}

.ftr-logo img {
    width: 80px;
    height: 65px;
}

.footer ul {
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: space-between;
}

.ftr-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}

.btm {
    width: 33.33%;
}

.btm a {
    color: black;
}

.btm ul a {
    color: black;
}

@media(max-width:768px) {
    .container {
        max-width: 690px;
    }

    .hero h1 {
        font-size: 60px;
    }

    .image img {
        width: 223px;
        height: 361px;
    }

    .sign {
        width: 180px;
    }

    .skill {
        font-size: 25px;
    }

    .details h4 {
        font-size: 18px;
    }

    .image {
        top: 50%;
        left: 55%;
    }

    .details h2 {
        font-size: 40px;
    }

    .brands {
        padding: 0px;
    }

    .flex {
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        flex: 1 1 48%;
    }

    .ed-flex {
        display: block;
    }

    .design {
        flex-direction: column;
    }

    .talk {
        width: 50%;
        height: 345px;
    }

    .up {
        height: 345px;
        width: 50%;
    }

    .up img {
        height: 345px;
        width: 345px;
    }
}

@media (max-width:576px) {
    .container {
        max-width: 390px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-flex {
        padding: 40px 0px;
    }

    .hero h1 {
        font-size: 80px;
    }

    .round {
        padding: 50px 0px;
    }

    .details h4 {
        font-size: 28px;
    }

    .idea {
        flex-direction: column;
    }

    .btm {
        display: flex;
        justify-content: center;
    }

    .ftr-flex {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .theme p {
        white-space: nowrap;
    }

    .talk {
        width: 100%;
        border-radius: 30px;
    }

    .up {
        width: 100%;
        left: 0;
    }

    .up img {
        width: 374px;
        height: 374px;
    }

    .image {
        display: none;
    }

    .hero-flex {
        flex-direction: column;
    }

    .hero-text {
        text-align: center;
    }

    .details {
        text-align: center;
        width: 100%;
    }

    .menu {
        display: none;
    }
}

@media(max-width:425px) {
    .container {
        max-width: 320px;
    }

    .images {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .up img {
        width: 330px;
        height: 330px;
    }

    .round {
        padding: 50px 0px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-flex {
        padding: 50px 0px 70px;
    }

    .hero h1 {
        font-size: 80px;
    }

    .details h4 {
        font-size: 28px;
    }

    .button button {
        font-size: 14px;
        padding: 12px 30px;
    }

    .services h2 {
        font-size: 35px;
    }

    .services {
        padding: 60px 0px;
    }

    .talk h2 {
        font-size: 35px;
    }

    .ftr-logo {
        padding: 50px 0px;
    }

    .data {
        flex-direction: column;
    }

    .ui {
        padding: 50px 30px;
    }

    .services {
        padding-bottom: 0px;
    }

    .sponsers {
        padding-bottom: 30px;
    }

    .design {
        padding-bottom: 40px;
    }
}